data/csv/*
data/final/*

regression/__pycache__/
regression/utils/__pycache__/
regression/utils/rl/__pycache__/

classification/__pycache__/
classification/utils/__pycache__/
classification/utils/rl/__pycache__/

logs/*
!logs/.gitkeep

ddpg_model.zip
dqn_model.zip